[submodule "sub_modules/tesstrain"]
	path = sub_modules/tesstrain
	url = https://github.com/tesseract-ocr/tesstrain.git
[submodule "sub_modules/langdata_lstm"]
	path = sub_modules/langdata_lstm
	url = https://github.com/tesseract-ocr/langdata_lstm.git
[submodule "sub_modules/--force"]
	path = sub_modules/--force
	url = https://github.com/tesseract-ocr/langdata.git
