test
venv*
pdf/*
pdf/processed/*
pdf/results/*
pdf/tresh/*
sub_modules/langdata
sub_modules/tesseract
__pycache__
*.log
test_server/pdf_storage/*

#Not ignered
!pdf/processed/
!pdf/results/
!pdf/tresh/